In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("ravindrasinghrana/job-description-dataset")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/ravindrasinghrana/job-description-dataset?dataset_version_number=1...

100%|██████████| 457M/457M [00:07<00:00, 66.9MB/s]

Extracting files...

Path to dataset files: /root/.cache/kagglehub/datasets/ravindrasinghrana/job-description-dataset/versions/1

In [1]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
import joblib

In [2]:
# data = pd.read_csv(path + "/job_descriptions.csv")
data = joblib.load('jobs_data.pkl')

In [3]:
data.head()

,Job Id,Experience,Qualifications,Salary Range,location,Country,latitude,longitude,Work Type,Company Size,...,Company Profile,combined_text,Sector,Industry,City,State,Zip,Website,Ticker,CEO
0,1089843540111562,5 - 15 Years,M.Tech,$59K-$99K,Douglas,Isle of Man,54.2361,-4.5481,Intern,26801,...,"{""Sector"":""Diversified"",""Industry"":""Diversifie...","M.Tech Social media platforms (e.g., Facebook,...",Diversified,Diversified Financials,Sunny Isles Beach,Florida,33160,www.ielp.com,IEP,David Willetts
1,398454096642776,2 - 12 Years,BCA,$56K-$116K,Ashgabat,Turkmenistan,38.9697,59.5563,Intern,100340,...,"{""Sector"":""Financial Services"",""Industry"":""Com...","BCA HTML, CSS, JavaScript Frontend frameworks ...",Financial Services,Commercial Banks,Pittsburgh,Pennsylvania,15222,www.pnc.com,PNC,William S. Demchak
2,481640072963533,0 - 12 Years,PhD,$61K-$104K,Macao,"Macao SAR, China",22.1987,113.5439,Temporary,84525,...,"{""Sector"":""Insurance"",""Industry"":""Insurance: P...",PhD Quality control processes and methodologie...,Insurance,Insurance: Property and Casualty (Stock),San Antonio,Texas,78288,www.usaa.com,,Wayne Peacock
3,688192671473044,4 - 11 Years,PhD,$65K-$91K,Porto-Novo,Benin,9.3077,2.3158,Full-Time,129896,...,"{""Sector"":""Energy"",""Industry"":""Mining, Crude-O...",PhD Wireless network design and architecture W...,Energy,"Mining, Crude-Oil Production",New York,New York,10036,www.hess.com,HES,John B. Hess
4,117057806156508,1 - 12 Years,MBA,$64K-$87K,Santiago,Chile,-35.6751,-71.5429,Intern,53944,...,"{""Sector"":""Energy"",""Industry"":""Energy - Oil & ...",MBA Event planning Conference logistics Budget...,Energy,Energy - Oil & Gas Exploration & Production,Edinburgh,Scotland,EH2 4NH,https://www.cairnenergy.com/,CNE,Simon Thomson

In [4]:
data.shape

(1608618, 32)

In [5]:
data["skills"]

0          Social media platforms (e.g., Facebook, Twitte...
1          HTML, CSS, JavaScript Frontend frameworks (e.g...
2          Quality control processes and methodologies St...
3          Wireless network design and architecture Wi-Fi...
4          Event planning Conference logistics Budget man...
                                 ...
1615935    Mechanical engineering CAD software (e.g., Sol...
1615936    Strategic IT planning Leadership and managemen...
1615937    Mechanical engineering CAD software (e.g., Sol...
1615938    Training program coordination Training materia...
1615939    Wedding planning Venue selection Catering and ...
Name: skills, Length: 1608618, dtype: object

In [6]:
data["Qualifications"].value_counts()

Qualifications
BBA       161405
BA        161403
BCA       161010
M.Tech    160991
PhD       160926
MBA       160812
B.Tech    160710
M.Com     160625
B.Com     160583
MCA       160153
Name: count, dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1608618 entries, 0 to 1615939
Data columns (total 32 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Job Id            1608618 non-null  int64
 1   Experience        1608618 non-null  object
 2   Qualifications    1608618 non-null  object
 3   Salary Range      1608618 non-null  object
 4   location          1608618 non-null  object
 5   Country           1608618 non-null  object
 6   latitude          1608618 non-null  float64
 7   longitude         1608618 non-null  float64
 8   Work Type         1608618 non-null  object
 9   Company Size      1608618 non-null  int64
 10  Job Posting Date  1608618 non-null  object
 11  Preference        1608618 non-null  object
 12  Contact Person    1608618 non-null  object
 13  Contact           1608618 non-null  object
 14  Job Title         1608618 non-null  object
 15  Role              1608618 non-null  object
 16  Job Portal        1608618 non-null  object
 17  Job Description   1608618 non-null  object
 18  Benefits          1608618 non-null  object
 19  skills            1608618 non-null  object
 20  Responsibilities  1608618 non-null  object
 21  Company           1608618 non-null  object
 22  Company Profile   1608618 non-null  object
 23  combined_text     1608618 non-null  object
 24  Sector            1608618 non-null  object
 25  Industry          1608618 non-null  object
 26  City              1608618 non-null  object
 27  State             1608618 non-null  object
 28  Zip               1608618 non-null  object
 29  Website           1608618 non-null  object
 30  Ticker            1608618 non-null  object
 31  CEO               1608618 non-null  object
dtypes: float64(2), int64(2), object(28)
memory usage: 405.0+ MB

In [8]:
data.isna().sum()

Job Id              0
Experience          0
Qualifications      0
Salary Range        0
location            0
Country             0
latitude            0
longitude           0
Work Type           0
Company Size        0
Job Posting Date    0
Preference          0
Contact Person      0
Contact             0
Job Title           0
Role                0
Job Portal          0
Job Description     0
Benefits            0
skills              0
Responsibilities    0
Company             0
Company Profile     0
combined_text       0
Sector              0
Industry            0
City                0
State               0
Zip                 0
Website             0
Ticker              0
CEO                 0
dtype: int64

In [20]:
data.dropna(axis=0, inplace=True)

In [8]:
data.shape

(1608618, 32)

In [9]:
data['Work Type'].value_counts()

Work Type
Part-Time    322576
Temporary    322008
Contract     321641
Intern       321634
Full-Time    320759
Name: count, dtype: int64

In [10]:
data['Qualifications'].value_counts()

Qualifications
BBA       161405
BA        161403
BCA       161010
M.Tech    160991
PhD       160926
MBA       160812
B.Tech    160710
M.Com     160625
B.Com     160583
MCA       160153
Name: count, dtype: int64

In [11]:
data.columns

Index(['Job Id', 'Experience', 'Qualifications', 'Salary Range', 'location',
       'Country', 'latitude', 'longitude', 'Work Type', 'Company Size',
       'Job Posting Date', 'Preference', 'Contact Person', 'Contact',
       'Job Title', 'Role', 'Job Portal', 'Job Description', 'Benefits',
       'skills', 'Responsibilities', 'Company', 'Company Profile',
       'combined_text', 'Sector', 'Industry', 'City', 'State', 'Zip',
       'Website', 'Ticker', 'CEO'],
      dtype='object')

In [12]:
data['Preference'].head()

0    Female
1    Female
2      Male
3    Female
4    Female
Name: Preference, dtype: object

In [11]:
data["Experience"] = data["Experience"].str.replace("to", "-")

In [12]:
data["Experience"]

0          5 - 15 Years
1          2 - 12 Years
2          0 - 12 Years
3          4 - 11 Years
4          1 - 12 Years
               ...
1615935    0 - 12 Years
1615936    2 - 14 Years
1615937    4 - 15 Years
1615938    5 - 15 Years
1615939    1 - 11 Years
Name: Experience, Length: 1608618, dtype: object

In [13]:
profile = data['Company Profile']

In [14]:
profile[0]

'{"Sector":"Diversified","Industry":"Diversified Financials","City":"Sunny Isles Beach","State":"Florida","Zip":"33160","Website":"www.ielp.com","Ticker":"IEP","CEO":"David Willetts"}'

In [13]:
import json

list_of_dicts = profile.to_dict()

In [19]:
len(list_of_dicts)

1610462

In [18]:
import json

converted_data = {}
errors = {}

for k, v in list_of_dicts.items():
    try:
        converted_data[k] = json.loads(v)
    except json.JSONDecodeError as e:
        errors[k] = str(e)

print(f"Successfully converted {len(converted_data)} entries.")
print(f"Failed to convert {len(errors)} entries.")
print("Sample error:", list(errors.items())[:3])  # Show first 3 errors

Successfully converted 1608618 entries.
Failed to convert 1844 entries.
Sample error: [(139, "Expecting ',' delimiter: line 1 column 179 (char 178)"), (551, "Expecting ',' delimiter: line 1 column 179 (char 178)"), (975, "Expecting ',' delimiter: line 1 column 179 (char 178)")]

In [ ]:
converted_data

In [27]:
df = pd.DataFrame(converted_data)

In [30]:
new = df.T

In [34]:
new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1608618 entries, 0 to 1615939
Data columns (total 8 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   Sector    1608618 non-null  object
 1   Industry  1608618 non-null  object
 2   City      1608618 non-null  object
 3   State     1608618 non-null  object
 4   Zip       1608618 non-null  object
 5   Website   1608618 non-null  object
 6   Ticker    1608618 non-null  object
 7   CEO       1608618 non-null  object
dtypes: object(8)
memory usage: 110.5+ MB

In [13]:
model = TfidfVectorizer(stop_words="english")

In [13]:
data['combined_text'] = data[["Qualifications","skills", "Experience"]].astype(str).agg(' '.join, axis=1)

In [14]:
tfidf_matrix = model.fit_transform(data["combined_text"])

In [15]:
tfidf_matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 25378840 stored elements and shape (1608618, 1035)>

In [16]:
def recommendations(user_input):
    user_vec = model.transform([user_input])
    cosine_sim = cosine_similarity(user_vec, tfidf_matrix)
    sim_jobs = cosine_sim[0].argsort()[::-1]  # Fix: use [0] to flatten to 1D
    return data.iloc[sim_jobs]

In [17]:
recommended = recommendations("B.Tech HTML CSS JavaScript DevOps 0 - 5 years")

In [19]:
recommended['Job Title'].head()

1034880    Web Developer
438969     Web Developer
786054     Web Developer
950951     Web Developer
118916     Web Developer
Name: Job Title, dtype: object

In [ ]:
recommended.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1610462 entries, 1115744 to 6432
Data columns (total 24 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Job Id            1610462 non-null  int64
 1   Experience        1610462 non-null  object
 2   Qualifications    1610462 non-null  object
 3   Salary Range      1610462 non-null  object
 4   location          1610462 non-null  object
 5   Country           1610462 non-null  object
 6   latitude          1610462 non-null  float64
 7   longitude         1610462 non-null  float64
 8   Work Type         1610462 non-null  object
 9   Company Size      1610462 non-null  int64
 10  Job Posting Date  1610462 non-null  object
 11  Preference        1610462 non-null  object
 12  Contact Person    1610462 non-null  object
 13  Contact           1610462 non-null  object
 14  Job Title         1610462 non-null  object
 15  Role              1610462 non-null  object
 16  Job Portal        1610462 non-null  object
 17  Job Description   1610462 non-null  object
 18  Benefits          1610462 non-null  object
 19  skills            1610462 non-null  object
 20  Responsibilities  1610462 non-null  object
 21  Company           1610462 non-null  object
 22  Company Profile   1610462 non-null  object
 23  combined_text     1610462 non-null  object
dtypes: float64(2), int64(2), object(20)
memory usage: 307.2+ MB

In [ ]:
import joblib

# # Save the model
# joblib.dump(model, 'job_recommendation_model.pkl')

# # Save the TF-IDF matrix
joblib.dump(tfidf_matrix, 'tfidf_new_matrix.pkl')

# save the data DataFrame too
# joblib.dump(data, 'jobs_data.pkl')

# For store sectors data
# joblib.dump(converted_data, "company_profile.pkl")

['tfidf_new_matrix.pkl']

In [ ]:
# Load the model
model = joblib.load('job_recommendation_model.pkl')

# Load the TF-IDF matrix
tfidf_matrix = joblib.load('tfidf_matrix.pkl')

# Load the jobs data
data = joblib.load('jobs_data.pkl')